--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
python-multipart
psycopg
bcrypt
PyJWT
celery
docling
pymupdf==1.26.3
sentence-transformers
torch==2.7.1+cpu
torchvision==0.22.1+cpu
qdrant-client
minio
redis
